<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    
    # No reescribir archivos reales
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Reescribir a index.php
    RewriteRule ^(.*)$ index.php?_url=/$1 [QSA,L]
</IfModule>
